html {
  font-family: $fontFamily;
  font-weight: 400;
  color: $primaryFontColor;

  @include mobile {
    font-size: 14px;
  }
  @include tablet {
    font-size: 14px;
  }
  @include tablet-laptop {
    font-size: 16px;
  }
  @include laptop-desktop {
    font-size: 18px;
  }
  @include desktop-tv {
    font-size: 20px;
  }
  @include tv {
    font-size: 26px;
  }
}

body {
  margin: 0 !important;
}

img {
  max-width: 100%;
  z-index: 1;
}

.block2 {
  background-color: #F7F7F7;
  overflow: hidden;
}

.textWrapper {
	padding: 2em;

  @include mobile {
    text-align: center;
  }
}

.textTitle {
  font-weight: 700;
	font-size: 1.8em;
  line-height: 1.2;
  margin: 0 0 0.5rem 0;
}

.textBody {
  line-height: 1.5;
  color: $secondaryFontColor;
  margin: 0;
}

.picturesWrapper {
  position: relative;
}

.colorPicture {
  position: absolute;
  bottom: 0;
}

.floatingWord {
	position: absolute;
	color: $floatingWordFontColor;
	right: 0;
	z-index: 0;
}

.avatar {
  border-radius: 50%;
}
